---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="servicios" pageDescription="Estos son mi servicios">
  <h1 class="bg-sky-500 p-4 m-5">Mis servicios</h1>
    <ul>
      <li>Configuracion de Windows</li>
      <li>Optimizacion de Windows</li>
      <li>Limpieza del Hardware</li>
    </ul>

    <Card title="programacion" content="este es una prueba" />
    <Card title="diseño" content="estos son mi dise;os" />
    <Card title="llorar" content="deja de llora, deja de sufrir" />
    <Card title="comer" content="que rico que es comer" />
</Layout>